@import url('https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,600,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  background-color: #f5fafa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
