.header{
    padding: 16px 8px;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 600;
    font-size: 1.25em;

    display: flex;
    justify-content: space-between;
}

.footer{
    width: 100%;
    height: 60px;
    padding: 0 10px;
    background-color: var(--secondary);
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}
